
<head>
    <title>Code Documentation</title>
    <meta name="icon" content="docs/icon.webp"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link rel="stylesheet" href="docs/scroll.css"/>
    <link rel="stylesheet" href="docs/style.css"/>
    <link rel="stylesheet" href="docs/viewport.css"/>
    <link rel="icon" href="docs/icon.webp" type="image/x-icon"/>
</head>